* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

.tabs {
    width: 100%;
    position: relative;
    padding: .7rem 2rem 0 2rem;
    background-color: #eee;
}


/* TAB STYLE */

.tab {
    position: relative;
    display: inline-block;
    height: 3.4rem;
    padding: 0 1.3rem;
    min-width: 5rem;
    max-width: 25%;
    width: 15%;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background .2s ease;
    border-radius: 10px 10px 0 0 ;
    z-index: 2;
    line-height: 3.4rem;
}

.tab::before, .tab::after {
    height: 1.2rem;
    width: 1.2rem;
    display: block;
    content: '';
    overflow: hidden;
    position: absolute;
    z-index: -1;
    transition: opacity .2s ease;
    opacity: 0;
}

.tab::before {
    bottom: 0; left: -1.2rem;
    background-image: radial-gradient(circle at 0 0, transparent 0%, transparent 1.3rem, #f4f4f4 1rem);
}

.tab::after {
    bottom: 0; right: -1.2rem;
    background-image: radial-gradient(circle at 100% 0, transparent 0%, transparent 1.3rem, #f4f4f4 1rem);
}

.tab:hover {
    background-color: #f4f4f4;
}

.tab:hover::before {
    opacity: 1;
}

.tab:hover::after {
    opacity: 1;
}


/* ACTIVE CLASS STYLE */

.active {
    background-color: #fff;
    z-index: 10;
}

.active::before {
    background-image: radial-gradient(circle at 0 0, transparent 0%, transparent 1.3rem, #fff 1rem);
    opacity: 1;
}

.active::after {
    background-image: radial-gradient(circle at 100% 0, transparent 0%, transparent 1.3rem, #fff 1rem);
    opacity: 1;
}

.active:hover {
    background-color: #fff;
}